<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notificação de Pagamento - Precisão</title>
</head>
<body>
    <h3>***** PREENCHER OS DADOS DO PAGAMENTO *****</h3>
    <p>CODIGO EMPREENDIMENTO: {{CODIGO_EMPREENDIMENTO}}</p>
    <p>NOME DO EMPREENDIMENTO: {{NOME_EMPREENDIMENTO}}</p>
    <p>DADOS DO PAGAMENTO</p>
    <p>VENCIMENTO: {{VENCIMENTO}}</p>
    <p>CONTA CONTÁBIL: {{CONTA_CONTABIL}}</p>
    <p>DESCRIÇÃO DO PAGAMENTO: {{DESCRICAO_PAGAMENTO}}</p>
    <p>DADOS DO FORNECEDOR</p>
    <p>DOCUMENTO DO FORNECEDOR: {{DOCUMENTO_FORNECEDOR}}</p>
    <p>NOME DO FORNECEDOR: {{NOME_FORNECEDOR}}</p>
    <p>DADOS DO FAVORECIDO</p>
    <p>DOCUMENTO DO FAVORECIDO: {{DOCUMENTO_FAVORECIDO}}</p>
    <p>NOME DO FAVORECIDO: {{NOME_FAVORECIDO}}</p>
    <p>NÚMERO DO BANCO: {{NUMERO_BANCO}}</p>
    <p>AGÊNCIA: {{AGENCIA}}</p>
    <p>DÍGITO DA AGÊNCIA: {{DIGITO_AGENCIA}}</p>
    <p>NÚMERO DA CONTA: {{NUMERO_CONTA}}</p>
    <p>DÍGITO DA CONTA: {{DIGITO_CONTA}}</p>
    <p>CHAVE PIX: {{CHAVE_PIX}}</p>
</body>
</html>
